asgiref==3.8.1
BareNecessities==0.2.8
certifi==2024.8.30
charset-normalizer==3.3.2
distlib==0.3.8
Django==5.1
django-cors-headers==4.4.0
django-sendgrid-webhook==0.3.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
environ==1.0
filelock==3.15.4
gunicorn==20.1.0
helpers==0.2.0
idna==3.8
Mail==2.1.0
mysqlclient==2.2.4
pillow==10.4.0
pipenv==2024.0.1
platformdirs==4.2.2
pycodestyle==2.12.0
PyJWT==2.9.0
python-decouple==3.8
python-http-client==3.3.7
requests==2.32.3
sendgrid==6.11.0
setuptools==70.1.1
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
stripe==10.8.0
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.3
wheel==0.43.0
