/* Divider */
.divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
}

/* Main Section */
.events-announcements-section {
    padding: 20px;
}

.events-announcements-section h1 {
    text-align: center;
    color: #0073e6;
    margin-bottom: 20px;
}

.events-section, .announcements-section {
    margin-bottom: 20px;
}

.events-section h2, .announcements-section h2 {
    color: #0073e6;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.event-card, .announcement-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.event-card h3, .announcement-card h3 {
    color: #0073e6;
    margin-top: 0;
}

.event-card p, .announcement-card p {
    margin: 5px 0;
}

.event-card p strong, .announcement-card p strong {
    display: inline-block;
    width: 100px;
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.btn-success {
    background-color: green;
    color: white;
}

.btn-danger {
    background-color: red;
    color: white;
}

.btn-primary {
    background-color: blue;
    color: white;
}


.form-container {
    margin-top: 20px;
    padding: 5px 20px 5px 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}