<div class="header">
    <div class="container">
        <img src="assets/codefulcrum_logo.jpeg" alt="Company Logo" class="logo">
        <h1 class="company-name">Code Fulcrum</h1>
        <nav>
            <ul>
                <li><a href="structure.html?page=index.html">Home</a></li>
                <li><a href="structure.html?page=events.html">Events</a></li>
                <li><a href="structure.html?page=leaves.html">Leaves</a></li>
                <li><a href="structure.html?page=profile.html">Profile</a></li>
            </ul>
        </nav>
    </div>
</div>
